body {
  margin: 0 auto;
  max-width: 600px;
  padding: 20px;
  min-height: 100vh;
}

h1 {
  position: fixed;
}

#counter {
  position: fixed;
  top: 15vh;
  left: 40%;
  font-size: 50px;
}

.reset {
  color: white;
  position: fixed;
  top: 20vh;
  text-decoration: none;
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0.1);
}

label {
  font-weight: bold;
  width: 90px;
  display: inline-block;
}

.mb-4 {
  margin-bottom: 20px;
}

@keyframes rotateLoading {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

#loading {
  width: 100px;
  height: 100px;
  background-color: black;
  animation: rotateLoading 2s infinite;
}

.hide {
  display: none;
}
