body {
  margin: 0px;
}

#wrapper {
  background-color: black;
  overflow: hidden;
}

#left {
  float: left;
  width: 49%;
  margin-right: 1%;
  background-color: gray;
}

#right {
  float: left;
  width: 49%;
  margin-left: 1%;
  background-color: red;
}

footer {
  background-color: aqua;
  clear: left;
}
