body {
  margin: 0 auto;
  background-color: #1d1e22;
  max-width: 600px;
  padding: 20px;
  min-height: 1000vh;
  color: white;
}

h1 {
  position: fixed;
}

#counter {
  position: fixed;
  top: 15vh;
  left: 40%;
  font-size: 50px;
}

.reset {
  color: white;
  position: fixed;
  top: 20vh;
  text-decoration: none;
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0.1);
}

label {
  font-weight: bold;
  width: 90px;
  display: inline-block;
}

.mb-4 {
  margin-bottom: 20px;
}