.map-wrapper {
  background-color: rgb(255, 255, 255);
  padding: 10rem;
}

.map-wrapper ul {
  display: flex;
  align-items: center;
  padding-left: 0px;
  margin-bottom: 3rem;
}

.map-wrapper .map-line-name {
  font-size: larger;
  font-weight: bold;
  margin-right: 1rem;
}

.station-list a {
  display: block;
  color: black;
  width: 100%;
  text-decoration: none;
}

.station-list {
  display: flex;
  position: relative;
  text-decoration: none;
  list-style-type: none;
  width: 20px;
  height: 20px;
  border: 5px solid #900;
  border-radius: 100%;
  margin-right: 45px;
}

.station-list div {
  width: 20px;
  height: 2px;
}

/* .station-list::before {
  content: '';
  display: block;
  width: 50px;
  border-top: 5px solid #900;
  border-bottom: 5px solid #900;
  height: 5px;
  margin-left: 23px;
  margin-top: 3px;
} */

.station-list .section-line {
  position: absolute;
  width: 100%;
  height: 10px;
}

.station-list:last-child::before {
  display: none;
}

.station-list:last-child {
  margin-right: 0;
}
